body{
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

.flexbox{display:flex;}
.menubutton{display:none;border:none;background:none;}

h1{
  font-family:"Dela Gothic One",sans-serif;
  font-weight: 400;
  font-style: normal;
  color:red;
  font-style:italic;
  font-size:50px;
  margin:5px;
  text-decoration:underline;
}
h2{margin:5px; font-size:35px;}
h3{margin: 5px;}
h4{margin:5px;}
p{margin:0;}a{color:black;}
a:hover{color:red;}
a:active{color:yellow;}

ul{list-style:none;padding:5px;font-size:20px;}
.libot {
background: url(../img/nightbot.gif) no-repeat 0 0;
background-size:auto 20px;
padding-left: 25px;}
.lihome{
  background:url(../img/home.png) no-repeat 0 0;
  background-size:auto 20px;
  padding-left: 25px;
}
.lipic{
  background:url(../img/liimg.png) no-repeat 0 0;
  background-size:auto 20px;
  padding-left: 25px;
}

.sidemenu{
  width:19%;
  margin:5px;
  background-color:lightblue;
  font-family:"Dela Gothic One",sans-serif;
  font-weight: 500;
  font-style: normal;
}
      

.Youtubelink{width:720px;height:405px;};
.menubutton{display:none;background:lightcyan;}
.qamenu{text-decoration:none;}
.qamenu:hover{text-decoration-line:underline;}

#Live2DSD{background:whitesmoke;margin:5px;}
#live2Dcomission{background:whitesmoke;margin:5px;}
#Live2DOther{background:whitesmoke;margin:5px;}
details{border:solid 5px;border-color:lightgray;margin:5px;width:90%;}

#illustcomission{background:whitesmoke;}
#othercomission{background:whitesmoke;}
#qaul{background:azure;}

.link{background:whitesmoke;}
.stampsample{width:500px;}
.BannerSample{width:500px;}


.content{
width:80%;
margin:5px;
background:white;
}

.counter-area{
display:flex;
justify-content: center;
align-items: center;
}

.flexbox2{
display:flex;
flex-direction:row;
align-items: center;
background:whitesmoke;
}


.img{height:380px;}
.kiriban{text-align: center;}
.thankslink{text-decoration: none;}
.links{width:75px;}
.newcontent{background:whitesmoke;}


@media (max-width: 1000px) {
  .menubutton{display:block;width:200px;}
  .flexbox{flex-flow: column;}
  .links{width:15%;}
  .content{width:100%;margin:0;}
  .stampsample{width:50%;}
  .BannerSample{width:80%;}
  details{width:95%;}

  .sidemenu{text-align:center;}
  /* メニューを開いた時 */
  nav.open-menu {width: 50%;}

  nav {
    background: #0bd;
    position: absolute;
    z-index: 1;
    top: 4.5em;
    left:30px;
    overflow-x: hidden;
    text-align: left;
    width: 0; /* ←100%から 0 に変更 */
  }
  h1{font-size:6vw;}
  h2{font-size:5vw;}
  div{margin:10px}

  .img{
    width:50%;
    height:50%;
  }
  .info{
    font-size:2.5vw;
    width:50%;
    height:50%;
  }
  .kiriban{
    font-size:2vw;
  }
  
  .Youtubelink{width:100%;};
}