h1{
  font-family:"Dela Gothic One",sans-serif;
  font-weight: 400;
  font-style: normal;
  color:red;
  font-style:italic;
  font-size:50px;
  margin:5px;
  text-decoration:underline;
}
h2{margin:5px; font-size:35px;}
h3{margin: 5px;}
h4{margin:5px;}
p{margin:0;}
.Youtubelink{width:720px;height:405px;};

body{
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

a{color:black;}
a:hover{color:red;}
a:active{color:yellow;}

ul{
  list-style:none;
  padding:5px;
}

.menubutton{display:none;
background:lightcyan;}

.sidemenu{
width:19%;
margin:5px;
background-color:lightblue;
font-family:"Dela Gothic One",sans-serif;
font-weight: 500;
font-style: normal;
}

.qamenu{text-decoration:none;}
.qamenu:hover{text-decoration-line:underline;}
#live2Dcomission{background:whitesmoke;}
#illustcomission{background:whitesmoke;}
#othercomission{background:whitesmoke;}
#qaul{background:azure;}
#comissionpoint{background:whitesmoke;}
.link{background:whitesmoke;}

.libot {
background: url(../img/nightbot.gif) no-repeat 0 0;
  background-size:auto 20px;
  padding-left: 25px;
}

.content{
width:80%;
margin:5px;
background:white;
}

.flexbox{
display:flex;
}

.counter-area{
display:flex;
justify-content: center;
align-items: center;
}

.flexbox2{
display:flex;
flex-direction:row;
align-items: center;
background:whitesmoke;
}


.img{height:380px;}
.kiriban{text-align: center;}
.thankslink{text-decoration: none;}
.links{width:75px;}
.newcontent{background:whitesmoke;}


@media (max-width: 1000px) {
  .menubutton{
    display:block;
  }

  .flexbox{flex-flow: column;}
  .links{width:15%;}
  
  .content{
    width:100%;
    margin:0;
  }

  nav {
    background: #0bd;
    position: absolute;
    z-index: 1;
    top: 3.125rem;
    right: 0;
    overflow-x: hidden;
    text-align: left;
    width: 0; /* ←100%から 0 に変更 */
  }
   
  /* メニューを開いた時 */
  nav.open-menu {width: 100%;}
  h1{font-size:6vw;}
  h2{font-size:5vw;}
  div{margin:10px}

  .img{
    width:50%;
    height:50%;
  }
  .info{
    font-size:2.5vw;
    width:50%;
    height:50%;
  }
  .kiriban{
    font-size:2vw;
  }
  
  .Youtubelink{width:100%;};
}