/*-----基礎設定------*/

body{
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
  background-image:url(../img/pastel_00010.jpg);
  background-size:cover;
}
h1{
  font-family:"Dela Gothic One",sans-serif;
  font-weight: 400;
  font-style: normal;
  color:red;
  font-style:italic;
  font-size:50px;
  margin:5px;
  text-decoration:underline;
}
h2{margin:5px; font-size:35px;}
h3{margin: 5px;}
h4{margin:5px;text-decoration:underline;}
p{margin:0;}
a{color:black;}
a:hover{color:red;}
a:active{color:yellow;}
.link{}
.content{
  width:80%;
  margin:5px;
  background:rgb(255 255 255 / 80%);
}
ul{list-style:none;padding:5px;font-size:20px;}
details{border:solid;border-color:lightgray;margin:5px;width:70%;border-radius:10px;background:white;}

/*-----ここまで基礎設定-----*/

/*-----sidemenu-----*/
.sidemenuLinks{font-family:'Zen Maru Gothic';font-size:12px;text-decoration-line:underline;}
.libot {
background: url(../img/nightbot.gif) no-repeat 0 0;
background-size:auto 20px;
padding-left: 25px;}
.lihome{
  background:url(../img/home.png) no-repeat 0 0;
  background-size:auto 20px;
  padding-left: 25px;
}
.lipic{
  background:url(../img/liimg.png) no-repeat 0 0;
  background-size:auto 20px;
  padding-left: 25px;
}
.lico{
  background:url(../img/lico.png) no-repeat 0 0;
  padding-left:25px;
}
.sidemenu1div{
  width:19%;
  margin:5px;
  font-family:"Dela Gothic One",sans-serif;
  font-weight: 500;
  font-style: normal;
  display:block;
  text-align: left;

  background-color:rgb(255 255 255 / 80%);
}
.sidemenu2div{
  width:19%;
  margin:5px;
  font-family:"Dela Gothic One",sans-serif;
  font-weight: 500;
  font-style: normal;
  
  display:none;
  text-align: left;
}
/*-----ここまでsidemenu*-----/

/*-----toppage-----*/
.flexbox{display:flex;}
.counter-area{
  display:flex;
  justify-content: center;
  align-items: center;
}
.sliderdiv{
    display:flex;
    justify-content:center;
}
.stream-live2D{
    display:flex;
    flex-direction:row;
}
/*-----ここまでtoppage-----*/

/*-----thanks-----*/
.linkflex{
  display:flex;
  flex-direction:row;
}
.thankslink{}
/*-----ここまでthanks-----*/

/*-----commission-----*/
.stamp{
  display:flex;
  flex-direction:row;
  align-items: center;
}

.stampsample{width:300px;}
.BannerSample{width:500px;}
.Youtubelink{width:720px;height:405px;};
.prURL{text-decoration-line:underline;}
.stream{text-align:center;}
.live2D{text-align:center;}
.illustcomission{}
.img{height:380px;}
.links{width:75px;}
.commissionborder{margin:5px;border:solid;border-color:lightgray;}
#othercomission{}
/*-----ここまでcommission-----*/

/*-----q&a-----*/
#qaul{
  border:solid 5px lightblue;
  border-radius:5px;
  background:white;
}
.qamenu{text-decoration:none;}
.qamenu:hover{text-decoration-line:underline;}
/*-----ここまでq&a-----*/


@media (max-width: 1000px) {
  .menubutton{display:block;width:200px;}
  .flexbox{flex-flow: column;}
  .content{width:100%;margin:0;}
  .stampsample{width:50%;}
  .BannerSample{width:80%;}
  details{width:95%;}
  .links{width:15vw;}
  
  body{font-size:3.5vw;}
  ul{font-size:4vw;}

  /*sidemenu*/
  .sidemenuLinks{font-size:20px;}
  .sidemenu2div{display:block;width:100%;}
  #sidemenu2{margin:0;}
  .sidemenu1div{display:none;}
  .sidemenuul{font-size:4vw;}
  .webclap{width:20vw;}
  /*sidemenu*/

  /*qa*/
  /*qa*/

  /*thanks*/
  .thankslink{text-decoration:none;}
  /*thanks*/

  h1{font-size:6vw;}
  h2{font-size:5vw;margin:10px;}

  .img{
    width:50%;
    height:50%;
  }
  .kiriban{
    font-size:2vw;
  }
  .stamp{
    flex-direction:column;
    align-items:baseline;
  }
  
  .Youtubelink{width:100%;};
  
}
@media (min-width: 1500px) {
  .content{
    width:1200px;
  }
}
@media (max-width:1000px){
  
  .linkflex{flex-direction:column;}
  .stream-live2D{flex-direction:row;}
  
}